@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: rgba(193, 135, 214, 0.812);
    --black: #131311;
    --bg: #000000;
    --border: .2rem solid rgba(255,255,255,.3);

}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth; /*efeito de rolagem suave*/
}

html::-webkit-scrollbar{ /* scroll */
    width: .8rem;
}

html::-webkit-scrollbar-track{ /* scroll */
    background: transparent;
}

html::-webkit-scrollbar-thumb{ /* scroll */
    background: #fff;
    border-radius: 5rem;
}

body{ 
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{ /* Cabeçalho pág. Sobre nós */
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;  
}

.btn{  /*   Checkout now   */
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{ /*   Checkout now   */
    letter-spacing: .3rem; /* espaçamento entre letras */
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 5rem;
}

.header .navbar a{ /* link menu */
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{ 
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header #icons div{ /* icones menu */
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header #icons div:hover{ /* icones menu */
    color: var(--main-color) ;
}

#menu-btn{ /* menu hamburguer */
    display: none;
}

.header .search-form{ /*  menu pesquisa  */
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{ /*  menu pesquisa active  */
    transform: scaleY(1);
}

.header .search-form input{  /*  menu pesquisa input */
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{  /*  menu pesquisa label */
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{  /*  menu pesquisa hover */
    color: var(--main-color);
}

.header .cart-items-container{ /* carrinho do menu */
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem; /* espaço entre as linhas e entre as colunas */
}

.header .cart-items-container .cart-item .fa-times{ /* x menu lateral direito*/
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{ /* x menu lateral direito*/
    color: red;
}

.header .cart-items-container .cart-item img{ /* img  menu lateral dereito*/
    height: 7rem;
}

.header .cart-items-container .cart-item h3{ /* nome dos produtos menu lateral dereito*/
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .preco{ /*preço menu lateral direito*/
    font-size: 2rem;
    color: var(--main-color);
}

.header .cart-items-container .btn{ /* tamanho botão do menu lateral*/
    width: 100%;
    text-align: center;
}

.home{ /*   Home   */
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/fundo.jpg);
    background-size: cover;
    background-position: center;
}


.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase; /* letras maiúscula*/
    color:  rgba(161, 89, 187, 0.937);
}

.home .content p{
    font-size: 1.5rem;
    color: #4a4a4a;
    font-weight: 700;
    line-height: 1.8; /* define a altura da linha */
    padding: 1rem;
    color: #000000;
}

.sobre .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.sobre .row .image{
    flex: 1 1 45rem;
}

.sobre .row .image img {
    width: 100%;
}

.sobre .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.sobre .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.sobre .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8; /* altura da linha */
}

.menu .box-container{ /*   Seção menu   */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color:#fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .preco{ 
    color:#fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .preco span{ 
    font-size: 1.5rem;
    text-decoration: line-through; /*linha no meio do texto*/
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background: #fff;
}

.menu .box-container .box:hover > *{
    color: var(--black);
}


.felicidade .box-container{ /*   Seção menu   */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.felicidade .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.felicidade .box-container .box img{
    height: 10rem;
}

.felicidade .box-container .box h3{
    color:#fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.felicidade .box-container .box .preco{ 
    color:#fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.felicidade .box-container .box .preco span{
    font-size: 1.5rem;
    text-decoration: line-through; 
    font-weight: lighter;
}

.felicidade .box-container .box:hover{
    background: #fff;
}

.felicidade .box-container .box:hover > *{
    color: var(--black);
}

.categoria .box-container{ /* Seção categoria */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.categoria .box-container{ /* Seção categoria */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.categoria .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.categoria .box-container .box .icons a{ /* icones das categorias */
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
    color: #fff;
    margin: .3rem;
}

.categoria .box-container .box .icons a:hover{
    background: var(--main-color);
}

.categoria .box-container .box .image{ /* imagem da categoria */
    padding: 2.5rem 0;
}

.categoria .box-container .box .image img{ /* imagem da categoria */
    height: 25rem;
}

.categoria .box-container .box .image img:hover{
    transform: scale(1.2);
}

.categoria .box-container .box .content .stars{ /*estrelas*/
    padding: 1.5rem;
}

.categoria .box-container .box .content .stars i{ 
    font-size: 1.7rem;
    color: var(--main-color);
}

.categoria .box-container .box .content .preco{ /*preço dos produtos */
    color: #fff;
    font-size: 2.5rem;
}

.categoria .box-container .box .content .preco span{ /*preço dos produtos span */
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.Trufas .box-container{ /*   Seção menu   */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.Trufas .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.Trufas .box-container .box img{
    height: 10rem;
}

.Trufas .box-container .box h3{
    color:#fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.Trufas .box-container .box .preco{ 
    color:#fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.Trufas .box-container .box .preco span{ 
    font-size: 1.5rem;
    text-decoration: line-through; /*linha no meio do texto*/
    font-weight: lighter;
}

.Trufas .box-container .box:hover{
    background: #fff;
}

.Trufas .box-container .box:hover > *{
    color: var(--black);
}


.review .box-container{ /*  Seção Review  */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p{ /*  Seção Review comentário */
    font-size: 1.5srem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user{ /*  Seção Review user */
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;

}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}

.contato .row{ /*   Seção Contato   */
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contato .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contato .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contato .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contato .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}

.contato .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contato .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 10%;
}

.footer .share a:hover{
    background: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background-color: var(--main-color);
}



















/*    MEDIA QUERY    */
@media screen and (max-width:991px) {
    
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }

}

@media screen and (max-width:768px) {
    
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{ /* menu header */
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem; /* ou background */
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{ /* menu header links */
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media screen and (max-width:450px) {
    
    html{
        font-size: 50%;
    }

    .home{
        text-align: center;
    }

}